main {
  max-width: 1024px;
  margin: 0 auto;
}

.resume{
  text-align: center;
}

.resumeSection {
  display: flex;
  flex-direction: row;
}

.resume {
  color: #335384;
  font-weight: 700;
  letter-spacing: 0.037em;
  font-size: 16px;
  text-transform: uppercase;
}

.resumeName {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 150px;
  margin: 20px auto;
  color: #335384;
  font-weight: 700;
  letter-spacing: 0.037em;
  font-size: 16px;
  text-transform: uppercase;
}

.profession{
  width: 150px;
  height: 150px;
  margin: 20px auto;
  color: #5ba7d1;
  font-weight: 700;
  letter-spacing: 0.037em;
  font-size: 16px;
  white-space: nowrap;
}

.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 3;
  background-color: #bee7fd;
  padding: 10px;
}

h3 {
  font-weight: 700;
  font-style: normal;
  color: #5ba7d1;
  letter-spacing: 0.3em;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  font-style: italic;
}

.mobileLink:before{
  content: "\260E";
}

.emailLink:before{
  content: "\2709";
}

.gitHubLink:before{
  content: "\2713";
}

ol {
  list-style-type: none;
}

ol li::before {
  content: '';
  color: #5ba7d1;
}

ul{
  list-style-type: none;
}

ul li {
  margin: 10px 0;
  font-size: 14px;
}

ul li::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #335384;
}

a{
  text-decoration: none;
}

a:link{
  color: #444440;
}

a:visited{
  color: #90908e;
}

a:hover{
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
}

img {
  display: flex;
  width: 150px;
  height: 150px;
  margin: 20px auto;
}

p{
  color: #444440;
  font-size: 16px;
}

.rightSection{
  display: flex;
  flex-direction: column;
  flex: 5;
  padding: 10px;
}

article{
  white-space: break-spaces;
}

span{
  font-style: italic;
}

.toDoList{
  color: #357944;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 14px;
  height: 40px;
	width: 150px;
	padding: 5px 5px 10px 5px;
	margin: 20px;
	border-radius: 11px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.toDoList:hover{
  box-shadow: none;
}

.toDoList:visited{
  color: #54b96a;
}